<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BikeStore" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bike_Store;Integrated Security=True;Connect Timeout=8" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
